body {
  margin: 0;
  padding: 0;
  background-image: url('img_girl.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



.terminal-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: white;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  color: white;
}

a:visited {
  color: inherit;
}

a:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
}
