body {
  margin: 0;
  padding: 0;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.terminal-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: white;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  color: white;
}

a:hover {
  background-color: yellow;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}
